

body {
  font-family: 'Kodchasan', sans-serif;
}


#menu-item-one a {
  color:white;

}

h2 {
  font-style: italic;
}

a {
  color: #ff008c;
}

.ft {
  grid-area: ft;
}

p {
  color: #11208e;
}

h6 {
  text-decoration: underline;
}

h4 {
  font-weight: bold;
}
